* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-body{
    width: 90%;
    text-align: center;
    border-radius: 25px;
    background: #2c3e50;
    overflow: hidden;
    height: 90%;
    left: 20px;
    align-items: center;
    color: white;
}
.main-body h1{
    color: white;
    padding: 15px;
}
.main-body input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.main-body input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.main-body input[type = "submit"]:hover{
    background: #2ecc71;
}
.main-body input[type = "file"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}
.main-body input[type = "file"]:hover{
    background: #2ecc71;
    border: 2px solid #2ecc71;
}
.main-body input[type = "text"]:hover,.main-body input[type="password"]:hover{
    width: 280px;
    border-color: #2ecc71;
}
.main-body input[type = "text"]:focus,.main-body input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}